.page-header {
  background-color: #0A2D33ff;
  height: 63px;
  margin-bottom: 15px;
}

.page-header img {
  margin-left: 15px;
}

.articles-table button {
  margin-left: 10px;
}

#article-col button {
  margin-right: 10px;
}

.modal-footer p {
  display: inline;
}
